@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=PT+Sans:wght@400;700&family=Roboto:wght@300;700&display=swap");body{background:#ffffff;color:#000}#app{font-family:"Open Sans", sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center}a{color:inherit}
/*# sourceMappingURL=style.css.map */