<template>
  <div class="row home">
    <div class="col-12 left-section">
      <br />
      <div class="search-box py-2">
        <input v-model="query" class="search-bar" placeholder="City..." type="text" @keypress="fetchWeather" />
      </div>
      <button class="logout btn btn-danger" @click="Logout"><img alt="" src="../assets/box-arrow-in-right.svg"
                                                                 srcset="" /></button>

      <div v-if="typeof weather.timezone != 'undefined'" class="weather-wrap">
        <div class="location-box">
          <div class="location">{{ cityName.name }}</div>
          <div class="timezone">{{ weather.timezone }}</div>
          <div class="time">{{ time() }}</div>
        </div>
        <div class="weather-box">
          <div class="temp">{{ Math.round(weather.daily[0].temp.day) }}°c</div>
          <div class="humidity">humidity: {{ weather.daily[0].humidity }}</div>
          <img :src="`https://openweathermap.org/img/wn/${weather.daily[0].weather[0].icon}@2x.png`" />
        </div>
      </div>
      <div v-if="typeof weather.lon != 'undefined'" class="sinle-weather-container">
        <SingleWeather :dayTemp="weather.daily[1].temp.day" :iconDaily="weather.daily[1].weather[0].icon"
                       :nightTemp="weather.daily[1].temp.night" />
        <SingleWeather :dayTemp="weather.daily[2].temp.day" :iconDaily="weather.daily[2].weather[0].icon"
                       :nightTemp="weather.daily[2].temp.night" />
        <SingleWeather :dayTemp="weather.daily[3].temp.day" :iconDaily="weather.daily[3].weather[0].icon"
                       :nightTemp="weather.daily[3].temp.night" />
        <SingleWeather :dayTemp="weather.daily[4].temp.day" :iconDaily="weather.daily[4].weather[0].icon"
                       :nightTemp="weather.daily[4].temp.night" />
        <SingleWeather :dayTemp="weather.daily[5].temp.day" :iconDaily="weather.daily[5].weather[0].icon"
                       :nightTemp="weather.daily[5].temp.night" />
        <SingleWeather :dayTemp="weather.daily[6].temp.day" :iconDaily="weather.daily[6].weather[0].icon"
                       :nightTemp="weather.daily[6].temp.night" />
        <SingleWeather :dayTemp="weather.daily[7].temp.day" :iconDaily="weather.daily[7].weather[0].icon"
                       :nightTemp="weather.daily[7].temp.night" />

      </div>
    </div>

  </div>
</template>

<script>
import { onBeforeMount, ref } from 'vue'
import firebase from 'firebase'
import moment from 'moment'
import SingleWeather from './components/SingleWeather.vue'

export default {
  components: {
    SingleWeather
  },
  data() {
    return {
      query: '',
      weather: {},
      cityName: ''
    }
  },
  methods: {
    fetchWeather(e) {
      if (e.key === 'Enter') {
        fetch(`https://api.openweathermap.org/data/2.5/weather?q=${this.query}&units=metric&APPID=b81fc74f0d9cd491313bc280c2526e8c`)
          .then((res) => {
            return res.json()
          })


          .then((data) => {
            console.log(data)
            fetch(`https://api.openweathermap.org/data/2.5/onecall?lat=${data.coord.lat}&lon=${data.coord.lon}&exclude=alerts&units=metric&appid=b81fc74f0d9cd491313bc280c2526e8c`)
              .then((res) => {
                console.log('ello działa')
                return res.json()
              })
              .then(this.setResultsDaily)
            this.cityName = data
            this.query = ''
          })
          .catch((err) => {
            console.log(err)
          })
      }
    },
    setResultsDaily(results) {
      this.weather = results
    },
    time() {
      return moment(this.weather.daily[0].sunnrise).format(' LLLL')
    },
  },

  setup() {
    const name = ref('')
    onBeforeMount(() => {
      const user = firebase.auth().currentUser
      if (user) {
        name.value = user.email.split('@')[0]
      }
    })

    const Logout = () => {
      firebase
        .auth()
        .signOut()
        .then(() => console.log('Signed out'))
        .catch((err) => alert(err.message))
    }

    return {
      name,
      Logout
    }
  }

}
</script>
<style lang="scss">
.home {
  background: linear-gradient(90deg, rgba(50, 145, 172, 0.7514356084230567) 24%, rgba(7, 70, 85, 0.7066176812521884) 47%, rgba(35, 107, 124, 0.6113795860140931) 72%);
  height: 96vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  margin-top: 2vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  h3 {
    color: #fdfcfc;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 3px rgba(7, 7, 7, 0.77);
  }

  .left-section {
    position: relative;
    background-size: cover;
    background-position: center;

    .search-box {
      max-width: 40%;
      min-width: 250px;

      .search-bar {
        display: block;
        width: 100%;
        padding: 10px;
        color: #000000;
        font-size: 14px;
        appearance: none;
        border: 2px solid rgba(0, 0, 255, 0.185);
        outline: none;
        background: none;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 16px 0px 16px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        transition: 0.4s;

        &:focus {
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          border-radius: 16px 0px 16px 0px;
        }
      }

    }

    .sinle-weather-container {
      background-color: rgba(23, 32, 56, 0.79);
      padding: 10px;
      position: absolute;
      bottom: 0px;
      left: 0;
      display: flex;
      color: white;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      overflow-y: hidden;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #4e2525;
      border-radius: 5px;
    }

    .logout {
      position: absolute;
      right: 0;
      top: -1px;
      width: auto;
    }
  }
}

.weather-wrap {
  text-align: center;
  width: 300px;

  .location {
    color: #000000;
    font-size: 32px;
    font-weight: 400;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
  }

  .weather-box {
    text-align: center;
  }

  .temp {
    display: inline-block;
    padding: 10px 10px;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
    background-color: #2c85afff;
    border-radius: 16px;
    margin: 10px 0px;
    box-shadow: 3px 6px rgba(167, 5, 5, 0.48);
  }

  .timezone, .time, .humidity {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #000000;
  }

  .weather {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.377);
  }
}


</style>
