<template>
  <div class="row py-3 register-wrapper login-wrapper">
    <div class="col-10 col-md-6 offset-md-3 offset-1 bgc-login">
      <div class="login py-5 col-10 offset-1">
        <div>
          <h1>Login</h1>
          <hr />
        </div>
        <form @submit.prevent="Login">
          <div class="form-grup my-2">
            <label class="my-2">Email</label>
            <input type="text" class="form-control" placeholder="email..." v-model="email" />
          </div>
          <div class="form-grup">
            <label class="my-2">Password</label>
            <input type="password" class="form-control" placeholder="password..." v-model="password" />
          </div>
          <div class="my-3">
            <input class="btn btn-success w-100" type="submit" value="Login" />
          </div>
          <p>Need an acconunt?
            <router-link to="/register">Register Here</router-link>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";
import firebase from "firebase";

export default {
  setup() {
    const email = ref("");
    const password = ref("");
    const Login = () => {
      firebase
        .auth()
        .signInWithEmailAndPassword(email.value, password.value)
        .then((data) => console.log(data))
        .catch((err) => alert(err.message));
    };
    return {
      Login,
      email,
      password
    };
  }
};
</script>
<style lang="scss">
.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bgc-login {
    position: relative;
    box-shadow: 2px 2px 2px red;
    background: url("../assets/login-1.jpg");
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);

    h1 {
      text-shadow: 1px 1px rgb(195, 194, 199);
    }

    form {
      label {
        font-weight: 700;
        //   width: 100%;
        text-align: left;
        display: block;
      }

      input {
        font-size: 14px;
      }

      ::-webkit-input-placeholder {
        font-size: 10px;
      }

      p {
        color: white;
        font-weight: 700;
      }
    }
  }
}
</style>
