<template>
  <div class="row py-3 register-wrapper login-wrapper">
    <div class="col-10 col-md-6 offset-md-3 offset-1 bgc-login">
      <div class="login py-5 col-10 offset-1">
        <div>
          <h1>Register</h1>
          <hr />
        </div>
        <form @submit.prevent="Register">
          <div class="form-grup my-2">
            <label class="my-2">Email</label>
            <input v-model="email" class="form-control" placeholder="email..." type="text" />
          </div>
          <div class="form-grup">
            <label class="my-2">Password</label>
            <input v-model="password" class="form-control" placeholder="password..." type="password" />
          </div>
          <div class="my-3">
            <input class="btn btn-primary w-100" type="submit" value="Register" />
          </div>
          <p>Have an acconunt?
            <router-link to="/login">Login Here</router-link>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import { ref } from "vue";

export default {
  setup() {
    const email = ref("");
    const password = ref("");

    const Register = () => {
      firebase
        .auth()
        .createUserWithEmailAndPassword(email.value, password.value)
        .then((user) => {
          alert(user);
        })
        .catch((err) => alert(err.message));
    };
    return {
      Register,
      email,
      password
    };
  }
};
</script>
