<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import { onBeforeMount } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import firebase from 'firebase'


export default {
  name: 'app',
  setup() {
    const router = useRouter()
    const route = useRoute()
    onBeforeMount(() => {
        firebase.auth().onAuthStateChanged((user) => {
          if (!user) {
            router.replace('/login')
          } else if (route.path === '/login' || route.path === '/register') {
            router.replace('/')
          }
        })
      }
    )
  }
}
</script>
