<template>
  <div class="weather-forecast-item">
    <div class="day">Monday</div>
    <img :src="`https://openweathermap.org/img/wn/${iconDaily}@2x.png`" alt="weather icon" class="w-icon">
    <div class="temp">Night {{ nightTemp }}&#176; C</div>
    <div class="temp">Day {{ dayTemp }}&#176; C</div>
    <p>{{ test }}</p>
  </div>

</template>
<script>
export default {
  props: ['nightTemp', 'dayTemp', 'iconDaily'],
}
</script>
<style lang="scss">
.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0 15px;
  border: 1px solid #eee;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2)
}

.day {
  padding: 5px 10px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.temp {
  font-size: 14px;
  padding-top: 10px;
}
</style>